# Reading Txt File

In [1]:
file = open(file="demo.txt",mode="r")
print(file)

FileNotFoundError: [Errno 2] No such file or directory: 'demo.txt'

In [2]:
file = open(file="demo.txt",mode="w")
print(file)

<_io.TextIOWrapper name='demo.txt' mode='w' encoding='cp1252'>

In [3]:
file = open(file="demo.txt",mode="r")
print(file)

<_io.TextIOWrapper name='demo.txt' mode='r' encoding='cp1252'>

In [5]:
file = open(file="demo.txt",mode="r")
print(file)
for line in file:
    print(line)
file.close()

<_io.TextIOWrapper name='demo.txt' mode='r' encoding='cp1252'>
Hello

Welcome To

SPRK Tech

In [8]:
with open("demo.txt", "r") as file:
    for line in file:
        print(line)

Hello

Welcome To

SPRK Tech

In [12]:
with open("demo.txt", "r") as file:
    statements = file.readlines()
    print(statements)
    print(type(statements))

    for line in statements:
        print(line)

['Hello\n', 'Welcome To \n', 'SPRK Tech']
<class 'list'>
Hello

Welcome To

SPRK Tech

# Writing into file

In [16]:
with open("demo.txt","w") as file:
    file.write("Bye")

In [17]:
with open("demo.txt","a") as file:
    file.write("\nSPRK TECH")

In [18]:
with open("demo.txt","a") as file:
    file.writelines(["\nPython\n","Best Language"])
with open("demo.txt", "r") as file:
    for line in file:
        print(line)

Bye

SPRK TECH

Python

Best Language

In [20]:
with open("demo.txt", "r") as file:
    for line in file:
        print(line, end="")

Bye
SPRK TECH
Python
Best Language

# Read CSV file

In [36]:
with open("book1.csv","r") as csv_file:
    for line in csv_file:
        print(line)

Amit,English,78

Priya,English,82

Rohit,English,65

Sneha,English,91

Vikram,English,74

Anita,English,88

Karan,English,56

Meera,English,92

Ravi,English,68

Pooja,English,85

Amit,Science,73

Priya,Science,80

Rohit,Science,59

Sneha,Science,95

Vikram,Science,67

Anita,Science,77

Karan,Science,89

Meera,Science,62

Ravi,Science,71

Pooja,Science,83

Amit,History,64

Priya,History,87

Rohit,History,90

Sneha,History,55

Vikram,History,79

Anita,History,93

Karan,History,61

Meera,History,72

Ravi,History,84

Pooja,History,70

Amit,SQL,15

Meera,SQL,65

In [37]:
# Used to store student info
students_data = {}

with open("book1.csv","r") as csv_file:
    for line in csv_file:
        student_name, subject, mark = line.split(",")
        print("Name = ",student_name)
        print("Mark =",mark)

Name =  Amit
Mark = 78

Name =  Priya
Mark = 82

Name =  Rohit
Mark = 65

Name =  Sneha
Mark = 91

Name =  Vikram
Mark = 74

Name =  Anita
Mark = 88

Name =  Karan
Mark = 56

Name =  Meera
Mark = 92

Name =  Ravi
Mark = 68

Name =  Pooja
Mark = 85

Name =  Amit
Mark = 73

Name =  Priya
Mark = 80

Name =  Rohit
Mark = 59

Name =  Sneha
Mark = 95

Name =  Vikram
Mark = 67

Name =  Anita
Mark = 77

Name =  Karan
Mark = 89

Name =  Meera
Mark = 62

Name =  Ravi
Mark = 71

Name =  Pooja
Mark = 83

Name =  Amit
Mark = 64

Name =  Priya
Mark = 87

Name =  Rohit
Mark = 90

Name =  Sneha
Mark = 55

Name =  Vikram
Mark = 79

Name =  Anita
Mark = 93

Name =  Karan
Mark = 61

Name =  Meera
Mark = 72

Name =  Ravi
Mark = 84

Name =  Pooja
Mark = 70

Name =  Amit
Mark = 15

Name =  Meera
Mark = 65

In [38]:
# Used to store student info
students_data = {}

with open("book1.csv","r") as csv_file:
    for line in csv_file:
        student_name, subject, mark = line.split(",")
        mark = int(mark.strip())
        if student_name in students_data:
            students_data[student_name].append(mark)
        else:
            students_data[student_name] = list([mark]) 
    print(students_data)
    print(len(students_data))

{'Amit': [78, 73, 64, 15], 'Priya': [82, 80, 87], 'Rohit': [65, 59, 90], 'Sneha': [91, 95, 55], 'Vikram': [74, 67, 79], 'Anita': [88, 77, 93], 'Karan': [56, 89, 61], 'Meera': [92, 62, 72, 65], 'Ravi': [68, 71, 84], 'Pooja': [85, 83, 70]}
10

In [39]:
# Sum and Avg
for student, marks in students_data.items():
    print("---------------------------------------------------------------------")
    print("Student Name: ",student)
    print("Marks: ",marks)
    print("Total Marks: ",sum(marks))
    print("Average Marks: ",round(sum(marks)/len(marks),2))
    print("Maximum Marks: ",max(marks))
    print("Minimum Marks: ",min(marks))
    print("---------------------------------------------------------------------")

---------------------------------------------------------------------
Student Name:  Amit
Marks:  [78, 73, 64, 15]
Total Marks:  230
Average Marks:  57.5
Maximum Marks:  78
Minimum Marks:  15
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Priya
Marks:  [82, 80, 87]
Total Marks:  249
Average Marks:  83.0
Maximum Marks:  87
Minimum Marks:  80
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Rohit
Marks:  [65, 59, 90]
Total Marks:  214
Average Marks:  71.33
Maximum Marks:  90
Minimum Marks:  59
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Sneha
Marks:  [91, 95, 55]
Total Marks:  241
Average Marks:  80.33
Maximum Marks:  95
Minimum Marks:  55
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Vikram
Marks:  [74, 67, 79]
Total Marks:  220
Average Marks:  73.33
Maximum Marks:  79
Minimum Marks:  67
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Anita
Marks:  [88, 77, 93]
Total Marks:  258
Average Marks:  86.0
Maximum Marks:  93
Minimum Marks:  77
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Karan
Marks:  [56, 89, 61]
Total Marks:  206
Average Marks:  68.67
Maximum Marks:  89
Minimum Marks:  56
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Meera
Marks:  [92, 62, 72, 65]
Total Marks:  291
Average Marks:  72.75
Maximum Marks:  92
Minimum Marks:  62
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Ravi
Marks:  [68, 71, 84]
Total Marks:  223
Average Marks:  74.33
Maximum Marks:  84
Minimum Marks:  68
---------------------------------------------------------------------
---------------------------------------------------------------------
Student Name:  Pooja
Marks:  [85, 83, 70]
Total Marks:  238
Average Marks:  79.33
Maximum Marks:  85
Minimum Marks:  70
---------------------------------------------------------------------

# Delete File

In [40]:
import os

In [42]:
if os.path.exists("demo.txt"):
    os.remove("demo.txt")
    print("File Deleted Successfully")
else:
    print("File Not Found")

File Deleted Successfully

In [43]:
if os.path.exists("demo.txt"):
    os.remove("demo.txt")
    print("File Deleted Successfully")
else:
    print("File Not Found")

File Not Found

In [46]:
os.remove("demo.txt")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'demo.txt'